.marquee {
    height: 44px;
    overflow: hidden;
    position: relative;
  }
  
  .marquee div {
    display: block;
    width: 200%;
    background-color: #B3C9F9;
    padding-bottom: 15px;
    position: absolute;
    overflow: hidden;
    animation: marquee 5s linear infinite;
  }
  
  .marquee span {
    padding-top: 10px;
    float: left;
    width: 50%;
    font-size: 24px;
    font-family: "Playfair display";
    font-weight: 400;
    padding-bottom: 10px;
  }
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }